.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-wrapper {
    width: 700px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .auth-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .profile-photo-wrap {
        .chakra-avatar {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
          background-color: rgb(194, 192, 192);

          .chakra-avatar__initials {
            background-color: rgb(194, 192, 192);
            font-size: 45px;
          }
        }

        .profile-photo-upload {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 180px;
          height: 80px;
          cursor: pointer;
          margin-top: 1%;
          p {
            font-size: 19px;
            letter-spacing: 1px;

            span {
              font-size: 26px;
            }

            &:hover {
              text-decoration-line: underline;
            }
          }
          input {
            display: none;
          }
        }
      }

      .header {
        h2 {
          font-size: 2.2rem;
          font-weight: 400;
          text-align: center;
          margin-bottom: 3px;
          font-family: "Zain";
        }

        p {
          font-size: 1.1rem;
          text-align: center;
          margin-bottom: 20px;
          font-family: "Zain";
        }
        #logo {
          width: 80px;
          height: 90px;
          margin: 0 auto;
          display: block;
        }
      }

      .auth-form {
        width: 300px;
        margin-top: 5%;
        input {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 50px;
          padding: 0 20px;
          font-size: 1.2rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 10px;
          font-family: "Zain";
        }
        button {
          width: 100%;
          height: 45px;
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: 2px;
          color: #fff;
          background-color: #5cafda;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-bottom: 2.9%;
          &:hover {
            background-color: #4497c0;
          }
        }

        .forgot-password {
          font-size: 1.1rem;
          color: #31393d;
          text-decoration: none;
          letter-spacing: 1.6px;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      #resend {
        font-size: 0.89rem;
        color: #31393d;
        text-decoration: none;
        letter-spacing: 1.6px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Zain";
      margin-top: 10%;
      .facebook {
        font-size: 1.2rem;
        color: #000;
        background-color: rgb(115, 197, 238);
        padding: 10px 24px;
        border-radius: 5px;
        letter-spacing: 2px;
        text-decoration: none;
        margin-bottom: 20px;

        &:hover {
          background-color: rgba(85, 159, 196, 0.8);
        }
      }
      .email {
        font-size: 1.2rem;
        color: #000;
        text-decoration: none;
        letter-spacing: 1.9px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
